.header {
  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    //margin: 19px 16px;
    margin: 0;
    flex-shrink: 0;
    background-color: $backgroundWhite;
  }
}

.nav {
  &__block {
    display: flex;
    align-items: center;
  }

  &__item--margin--16 {
    margin: 0 16px;
  }

  &__item:first-of-type{
    @media screen and (min-width: 400px) and (max-width: 767px){
      margin-right: 15px;
    }
  }


    &__item:last-child{
      @media screen and (min-width: 400px) and (max-width: 767px){
        margin-left: 15px;
      }
    }
}

@media screen and (min-width: 320px) {
  .header {
    &__nav {
      display: flex;
      align-items: center;
      justify-content: center;
      //margin: 19px 16px;
      padding: 8px 16px;
      flex-shrink: 0;
    }

    .nav {
      &__item--size--m {
        display: none
      }
    }

  }
}


@media screen and (min-width: 768px) {
  .header {
    &__nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      //margin: 19px 16px;
      padding: 8px 16px;
      flex-shrink: 0;
    }

    .nav {
      &__item--size--m {
        display: block;
        margin-right: 16px;
      }

      &__block--flex--start .nav__item--size--m {
        margin: 0 0 0 20px;
      }

      &__block--flex--start{
        &__nav__item:first-child{
          margin-right: 100px;
        }
      }
    }
  }
}

@media screen and (min-width: 1366px) {
  .header {
    &__nav {
      display: none;
    }
  }
}
